<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Home DGN</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	</head>
	<body>
		<header class="header">
			<div class="header-1">
			    <h1>DGN Sistemas</h1>
			</div>
			<nav id="menu-h">
				<ul>
					<li>
						<a href="">PN</a>
					</li>
					<li>
						<a href="{{url_for('roteiro')}}">Roteirizar</a>
					</li>
					<li>
						<a href="{{url_for('logout')}}">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
	
		<div class="section">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque, beatae placeat sed ad tempore eligendi eius accusantium, iure repellat, in voluptates vitae dolores nihil maiores obcaecati ducimus doloremque vel.</p>
		</div>


	</body>
</html>