<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login DGN Sistemas</title>
    <link rel="stylesheet" href="/static/css/login_user.css">
  </head>
  <body>
	  <div>	
		  <form class="box" action="" method="post">
			<h1>Login</h1>
			<input type="email" name="email" placeholder="Insira um e-mail" required>
			<input type="password" name="password" placeholder="Senha" required>
			<input type="submit" name="" value="Logar">
			<div class="bottom_text">
				Não tem uma conta? <a href="/user">Novo Usuário</a>
			</div>
		  </form>
	  </div>
  </body>
</html>
