<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Home DGN</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/css/roteiro.css">
	</head>
	<body>
		<header class="header">
			<div class="header-1">
			    <h1>DGN Sistemas</h1>
			</div>
			<nav id="menu-h">
				<ul>
					<li>
						<a href="{{url_for('home')}}">Home Page</a>
					</li>
				</ul>
			</nav>
		</header>
	
		<div>
			<form class="box-manifesto" action="" method="post">
				<label>Manifesto</label>
				<input type="text" name="manifesto" placeholder="Insira um manifesto" required>
				<input type="submit" name="" value="Logar">
			</form>
		</div>

	

	</body>
</html>