<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Usuários da DGN</title>
    <link rel="stylesheet" href="/static/css/login_user.css">
  </head>
  <body>

      <form class="box" action="" method="post">
        <h1>Usuário</h1>
        <input type="text" name="name" placeholder="Insira um nome" required>
		    <input type="email" name="email" placeholder="Insira um e-mail" required> 
        <input type="password" name="password" placeholder="Digite uma senha" required>
        <input type="submit" name="" value="Incluir">
		    <a href="/login">Voltar</a>
      </form>

  </body>
</html>
